<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" src="src/assets/css/style.css">
  <meta charset="UTF-8">
  <title>IMOBILIÁRIA</title>
  <style>
    .icn {
      vertical-align: middle !important;
    }

    .desc th {
      text-align: right;
    }
  </style>
</head>

<body>


  <div class="container col-md-7">
    <div class="col text-right d-print-none">
      <br/>
      <button class="btn btn-warning" onclick="history.go(-1)"> Voltar <i class="material-icons icn"> arrow_back </i></button>
      <button class="btn btn-dark" onclick="print()"> Imprimir <i class="material-icons icn"> print </i></button>
    </div>
    <br/>

    <div class="row text-center border-bottom">
      <div class="col h3 icn text-left">
        ORDEM DE COMPRA
        <br/>
      </div>
      <div class="col h3 icn text-right">
        Nº {{ordemcompra.id}}
        <br/>
      </div>
    </div>
    <br/>


    <table class="table table-bordered table-sm text-left desc">
      <tr>
        <th>Empresa: </th>
        <td>{{ordemcompra.empresa}}</td>
      </tr>
      <tr>
        <th>Imóvel: </th>
        <td>{{ordemcompra.imovel.endereco}}</td>
      </tr>
    </table>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Quant.</th>
          <th scope="col">Descrição</th>
        </tr>
      </thead>

      <tr *ngFor="let item of ordemcompra.itens">
        <td>{{item.quantidade}}</td>
        <td>{{item.descricao}}</td>
      </tr>
    </table>

      <div class="row text-justify">
        <div class="col">
          <div class="row text-right">
            <div class="col">
              <br/>
              <br/>

              <b>{{contrato.imovel.cidade}}</b>, <b>{{contrato.datainicial}}</b>
            </div>
          </div>
          <div class="row text-center">
            <div class="col">
            </div>
            <div class="col">
              <br/>
              <br/>
              <br/>
              <br/>
              <br/> ________________________________________

              <br/>
              <b>ALBA JEAN SILVA SANTOS</b>
              <br/>
              <b>CRECI 5134-F</b>
            </div>
          </div>

          <br/>

        </div>
      </div>
      <div class="col text-right d-print-none">
        <button class="btn btn-warning" onclick="history.go(-1)"> Voltar <i class="material-icons icn"> arrow_back </i></button>
        <button class="btn btn-dark"> Imprimir <i class="material-icons icn"  onclick="print()"> print </i></button>
        <br/>
        <a style="color: #fff"> aaaaaaa </a>
        <!--gambiarraaaaa -->
      </div>
  </div>
</body>

</html>
