<h3>Contratos</h3>

   <div class="input-group">
      <input type="text" class="form-control" placeholder="Pesquisar" [(ngModel)]="searchText">
      <span class="input-group-btn">
        <button class="btn btn-secondary btn-search" type="button"><mat-icon>search</mat-icon></button>
        
      </span>
    </div>


<table class="table table-hover">
  <thead>
    <tr>
      <th id="idHeader">Id</th>
      <th id="nameHeader">Valor do Auguel</th>
      <th id="phoneHeader"> Locatario </th>
      <th id="emailHeader"> Situação </th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr (click)="show(parcelas)" *ngFor="let parcelas of todasparcelas| filterdata: searchText : 'locatario' ; let i = index">
      <td>{{parcelas.id}}</td>
      <td>{{parcelas.aluguel}}</td>
      <td>{{parcelas.locatario}}</td>
      <td>{{parcelas.status}}</td>
      <td>
      <th></th>
      <td><a ><mat-icon>keyboard_arrow_right</mat-icon></a></td>
    </tr>
  </tbody>

</table>
