<h1 class="page-header">
    Imovel de {{imovel.proprietario}}
  </h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th id="nameHeader">id</th>
        <th id="nameHeader">Proprietario</th>
        <th id="endHeader">endereço</th>
        <th id="endHeader">Tipo</th>
        <th id="endHeader">Status</th>
        <th id="endHeader">Garagem</th>
        <th id="endHeader">nº Quartos</th>
        <th id="endHeader">obs</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td>{{imovel.id}}</td>
          <td>{{imovel.endereco}}</td>
          <td>{{imovel.tipo_imovel}}</td>
          <td>{{imovel.unidadegaragem}}</td>
          <td>{{imovel.unidadequarto}}</td>
          <td>{{imovel.observacoes}}</td>
          <th colspan="3"></th>
          <td><a (click)="destroy(imovel)" class="btn btn-danger">excluir</a></td>
          <td><a (click)="edit(imovel)" class="btn btn-secondary">editar</a></td>
        </tr>
      </tbody>