<div class="container">

<div class="row alto">

  <div class="col-md-2  bg-dark sidebar alto">
    <nav class="text-center bg-danger">
      <br/>
  <img src="assets/images/logo.png">
  <br/>
  <br/>
    </nav>
    <ul class="nav flex-column">
        <li>
            <a routerLink="" class="nav-link active  bg-dark">
              <mat-icon>home</mat-icon> HOME</a>
        </li>
        <li>
            <a routerLink="clientes" class="nav-link bg-dark">
              <mat-icon>person</mat-icon>CLIENTES</a>
        </li>

        <li role="presentation">
            <a routerLink="imoveis" class="nav-link bg-dark">
              <mat-icon>domain</mat-icon>IMÓVEIS</a>
        </li>
    </ul>
  </div>
  <div class="col-md-10 bg-light alto">
    <router-outlet></router-outlet>

  </div>
</div>

</div>
