<h3>Contratos</h3>

   <div class="input-group">
      <input type="text" class="form-control" placeholder="Pesquisar" [(ngModel)]="searchText">
      <span class="input-group-btn">
        <button class="btn btn-secondary btn-search" type="button"><mat-icon>search</mat-icon></button>
      </span>
    </div>


<table class="table table-hover">
  <thead>
    <tr>
      <th id="idHeader">Id</th>
      <th id="nameHeader">Valor do Auguel</th>
      <th id="phoneHeader"> Locador </th>
      <th id="emailHeader"> Locatario </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr (click)="show(contrato)" *ngFor="let contrato of todosContratos| filterdata: searchText : 'nome' ; let i = index">
      <td>{{contrato.id}}</td>
      <td>{{contrato.valoraluguel}}</td>
      <td>{{contrato.clientelocador.nome}}</td>
      <td>{{contrato.clientelocatario.nome}}</td>
      <td>
      <th></th>
      <td><a ><mat-icon>keyboard_arrow_right</mat-icon></a></td>
    </tr>
  </tbody>

</table>
